<div class="container mt-2">
  <div>
    <label for="customFileLabel" class="form-label"></label>
    <input class="form-control" type="file" id="customFileLabel" (change)="onChange($event)" multiple>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" [style.width]="progress+'%'">{{progress}}%
    </div>
  </div>
</div>
<div class="container mt-2">
  <button type="submit" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>
