<form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="form-label col-form-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome"/>
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório">
      </app-campo-control-erro>
    </div>
  </div>
  <br/>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-sm-12">
      <label for="email" class="form-label col-form-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email"/>
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório">
      </app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido.">
      </app-campo-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="row gy-2 gx-3 align-items-center">
      <div class="col-sm-3" [ngClass]="aplicaCssErro('endereco.cep')">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" (blur)="consultaCEP()">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-sm-3" [ngClass]="aplicaCssErro('endereco.numero')">
        <label for="numero" class="control-label">Numero</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-sm-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-12" [ngClass]="aplicaCssErro('endereco.rua')">
        <label for="rua" class="control-label">Rua</label>
        <input type="text" class="form-control" id="rua" formControlName="rua">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="row gy-2 gx-3 align-items-center">
      <div class="col-sm-5" [ngClass]="aplicaCssErro('endereco.bairro')">
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-4" [ngClass]="aplicaCssErro('endereco.cidade')">
        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-3" [ngClass]="aplicaCssErro('endereco.estado')">
        <label for="estado" class="control-label">Estado</label>
        <select class="form-control" id="estado" formControlName="estado">
          <!--Importante: dê preferencia por usar o pipe ASYNC na hora de utilizar informações que estão vindo de Observables no template HTML-->
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
        </select>
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-4" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
      </select>
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('cargo')" msgErro="Cargo é obrigatório">
      </app-campo-control-erro>
    </div>

    <div class="col-sm-4" [ngClass]="aplicaCssErro('tecnologias')">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia.nome">{{tecnologia.desc}}</option>
      </select>
    </div>

    <div class="col-sm-4">
      <div class="container">
        <label class="form-label">Newsletter</label>
      </div>
      <div class="form-check form-check-inline" *ngFor="let item of newsletterOp">
        <input class="form-check-input" type="radio" formControlName="newsletter" [value]="item.valor"> {{ item.desc }}
      </div>
    </div>
  </div>

  <div class="col-auto mt-2">
    <button type="submit" class="btn btn-dark me-md-2">Submit</button>
    <button class="btn btn-danger me-md-2" (click)="resetar()">Cancelar</button>
    <button class="btn btn-info me-md-2" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info me-md-2" (click)="setarTecnologia()">Cargo</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
